<section class="" aria-label="Gallery">
  <div class="carousel">
    <button class="carousel-btn carousel-back" type="button" name="button" aria-label="previous image" onclick="back()">
      {% include components/chevron-left.svg %}
    </button>
    <button class="carousel-btn carousel-next" type="button" name="button" aria-label="next image" onclick="next()">
      {% include components/chevron-right.svg %}
    </button>
    {% for item in page.carousel %}
      <div class="slide">
        {% if item.template == "image" %}
        {% include components/img.html
            src=item.src
            class="slide-image"
            alt=item.alt_text
        %}
        {% elsif item.template == "embed" %}
        {{ item.code }}
        {% elsif item.template == "vimeo" %}
        <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
      <lite-vimeo videoid="364402896"></lite-vimeo>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="thumbnails">
    {% for item in page.carousel %}
    <button class="btn-thumb" type="button" name="button" onclick="showSlides({{ forloop.index0 }})" aria-label="display image">

      <div class="slide-thumb">
      {% if item.template == "image" %}
      {% include components/img-thumb.html
          src=item.src
          class="slide-image"
          alt=item.alt_text
      %}
      {% elsif item.template == "embed" %}
      {% include components/img-thumb.html
          src=item.thumb
          class="slide-image"
          alt=item.alt_text
      %}
      {% elsif item.template == "vimeo" %}
      {% include components/img-thumb.html
          src=item.src
          class="slide-image"
          alt=item.alt_text
      %}
      {% endif %}
      </div>



    </button>
    {% endfor %}
  </div>
<script type="text/javascript" src="{{ '/assets/js/slides.js' | relative_url }}"></script>
</section>
