.carousel
  overflow: hidden
  display: flex
  flex-wrap: wrap

.carousel-btn
  width: 50%
  border: 0
  padding: 0
  background: $white
  transition: background-color 0.5s

  svg
    stroke: $black
    transition: stroke 0.5s

  &:hover
    background-color: $black

    svg
      stroke: $white
      transition: stroke 0.5s

  @include tablet
    width: 48px

.carousel-next
  @include tablet
    order: 3


.slide
  width: 100%
  height: 500px
  display: flex
  align-items: center
  justify-content: center
  order: 2
  @include tablet
    width: calc(100% - 96px)

.slide__image
  max-height: 100%
  width: auto

.thumbnails
  padding-top: 4px
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 4px

.slide-thumb
  width: 200px

.active
  outline: 4px solid black

.btn-thumb
    border: 0
    padding: 0
    background: $white
